.PDFViewerContainer {
    background-color: #acafb7;
    display: flex;
    padding: 10px 0 45px;
    margin: 0 auto 50px;
}

.PDFViewerElement {
    width: 90vw;
    height: 85vh;
    display: 'block';
    margin: auto;
}

@media (min-width: 650px) {
    .PDFViewerElement {
        width: 80vw;
    }
}


@media (min-width: 1005px) {
    .PDFViewerElement {
        width: 75vw;
    }
}

@media (min-width: 1200px) {
    .PDFViewerElement {
        width: 60vw;
    }
}