nav {
    background-color: #032859;
    box-shadow: 1px 1px 17px 0px rgba(0, 0, 0, 0.75);
    -webkit-box-shadow: 1px 1px 17px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 17px 0px rgba(0, 0, 0, 0.75);
}

nav ul {
    display: flex;
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px;
    justify-content: end;
}

nav ul li:first-child {
    margin-right: auto;
}

nav ul li {
    width: fit-content;
    list-style: none;
    font-size: 1.6rem;
    padding: 16px 20px;
}

nav ul li a {
    font-family: 'Noto Sans Display';
    font-weight: 500;
    color: rgb(240, 240, 240);
    text-decoration: none;
    transition: all .175s ease;
}

nav ul li a:hover {
    color: rgb(162, 162, 162);
}